@import '../../scss/index.scss';

.settings {
    margin: 50px 100px 0 100px;

    > h1 {
        font-size: 40px;
        margin-bottom: 50px;
    }

    .avatar-name {
        display: flex;
        align-items: center;

        .user-avatar {
            display: flex;
            margin: 0 20px 0 0 !important;
            border: 2px solid #9a9a9a;
            border-radius: 50%;
            border-style:  dashed;
            padding: 5px;
            margin-bottom: 20px;
            
            max-width: 130px;
            max-height: 130px;
            // overflow: hidden;
            // justify-content: center;
            // align-items: center;

            .ui.image {
                // width: 100%;
                // height: 100%;
                object-fit: cover;
                border-radius: 50px;
            }
        }
    }
}