@import '../../scss/index.scss';

.ui.grid.logged-layout {
    background-color: $background-dark-light;
    min-height: 100vh;

    > .row {

        &:first-of-type {
            height: 90vh;
            overflow-y: scroll;
        }
        &:last-of-type {
            height: 10vh;
        }
    }
}

.ui.grid>.row>.column {
    padding-left: 0  !important;
    padding-right: 0 !important;
}