$primary-color: #1db954;
$primary-color-hover: #1ed75f;

$font-light: #fff;
$font-gray: #969696;
$font-dark: #000;

$border-grey-light: #3b3b3b;
$border-light-dark: #9e9e9e;

$background-primary: $primary-color;
$background-light: #fff;

$background-gray-light: #3b3b3b;
$background-gray: #2d2d2d;
$background-gray-dark: #101010;
$background-grey-medium: #1c1c1c;
$background-dark-light: #141414;
$background-dark: #000;

$background-gray-light-hover: #494949;
$background-gray-hover: #3c3c3c;

$danger: #f00;